html,
body {
    height: 100%;
}

body {
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'SketchFlow Print';
    background-color: azure;
    color: rgb(30, 0, 99);
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    color: azure;
    background-color: blue;
}